form(name="booking")
  div(class="form-group")
    label Start Date
    input(name="name" type="date" class="form-control")
  div(class="form-group")
    label Duration
    input(name="name" type="text" class="form-control")
  div(class="form-group")
    label Duration
    input(name="name" type="date" class="form-control")
